<mat-card>
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="registerPatient()" >
        <h2>Register</h2>
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full Name"  name="fullName" required>
          <mat-error  >
            Please enter valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile Number"  name="mobileNumber" required>
          <mat-error  >
            Please enter valid phone number
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email"  name="email" required  pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
          <mat-error  >
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" matInput type="password" placeholder="Password" name="password" required >
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" >SignUp</button>
      </form>
    </mat-card-content>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <a routerLink="/login" >Already registered? Click here to login</a>
  </mat-card>